<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>


<div class="container">
<div class="jumbotron">
     <img src="/images/image1.png" height="42" width="42">
     <h3> There was a problem adding this content to the MiDIA Tent. Please try again!</h3>
<div onclick="location.href='/views/newcreator';"></div>,
</div> 
</div>
    
